* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;

}

img {
  display: block;
  max-width: 100%;
}

.button-section {
  display: flex;
  justify-content: center;
}

.button-section button {
  padding: 20px 40px 20px 40px;
}

.button-section button:first-child {
  margin-right: 75px;
}